section {
  width: 600px;
  height: 600px;
  border: 15px solid black;
  margin-top: 400px;
  margin-left: 600px;
 
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 10px solid darkblue;
  padding: 20px;
  margin: 10px;
  margin-left: 20px;
  margin-top: 20px;

  
  
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}
